/**
 * @file docs.css
 *
 * project specific css file
 */

* { margin-top:0; }
html {}
body {
  font-family:Arial,Helvetica,sans-serif;
  font-size:14px;
}

h1,h2,h3,h4,h5,h6 {
  line-height:1.5em;
}
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}

p { line-height:1.5em; }
ol {}
  ol li { line-height:1.5em; }
ul {}
  ul li { line-height:1.5em; }

/* breadcrumb navigation */
ul.breadcrumb {
  list-style:none;
  margin:0;
  padding:0;
}
  ul.breadcrumb li {
    display:inline;
    float:left;
    margin:0;
    padding:0;
  }
  ul.breadcrumb li a {}
  ul.breadcrumb li:before {
    content:'/';
    margin:0;
    padding:0 1em;
  }
  ul.breadcrumb li:first-child:before {
    content:'';
    padding:0;
  }

/* reuseable structure pieces */
div.grid-wrapper {
  padding:1px 0; /* override CSS behavior that makes margins extend outside the boundaries of a containing box. */
}
div.tier {
  border-top:1px solid #ccc;
  padding:10px 0;
}